[2016-10-30 01:25] gaocegege opened #1 "[idea] Github robot"
\cc @dyweb/mos

idea issuer: @at15 & @gaocegege & @arrowrowe

ref https://github.com/dyweb/web-stuff/issues/113#issuecomment-256715463

外国友人 @at15 的 idea

目测要求：

1. 了解 HTTP/HTTPS 请求
2. 有一门顺手的比较快糙猛的语言(python, ruby, golang, js, ...)
3. 可以阅读英文文档

[2016-10-30 01:33] gaocegege opened #2 "[idea] Died yet?"
\cc @dyweb/mos

[code]

Status: To Be Claimed

[2016-10-30 01:35] gaocegege commented on #1
进阶需求：

实现一个诸如 [michael/github](https://github.com/michael/github) 的 API 抽象，便于之后为 bot 加 feature

[2016-10-30 04:00] gaocegege opened #3 "[idea] Example"
介绍流程

[2016-10-30 04:01] gaocegege commented on #3
#dibs

[2016-10-30 04:01] gaocegege commented on #3
assign to @gaocegege

[2016-10-30 04:01] gaocegege commented on #3
Done

[2016-10-30 04:02] gaocegege commented on #3
LGTM

[2016-10-30 04:02] #3 closed

[2016-10-30 07:52] arrowrowe commented on #2
ref [Dead Yet?](http://deadyet.lol/), 监控指定页面是否 http status 200 来围观 startup 是否存活.

@arrowrowe 和 @mrmiywj 的 idea

目测要求:
0. 基础知识: http, 正则, 转义, parsing; 可以阅读英文文档.
0. 有一门顺手的语言, Ruby / Python / Java / Node.js / ......
0. Web 前后端基本技能.

[2016-10-30 10:08] ComMouse commented on #2
http://status.dy.tongqu.me，直接扔 API 就好了。。

不过原来监控同去的程序挂了

[2016-10-30 15:04] arrowrowe commented on #2
@ComMouse 可以先做个 api, 只支持 query. 不过感觉有个 [Dead Yet?](http://deadyet.lol/) 那样的页面 (比如 http://isgoogle.deadyet.lol/), 自己定时跑, 会更好玩儿...

[2016-10-31 03:08] gaocegege opened #4 "[idea] Github Contribution Color Extension"
\cc @dyweb/mos

idea issuer: @gaocegege

目测要求：

1. 会写 js 即可
2. 可以阅读英文文档

[2016-10-31 03:08] gaocegege commented on #4
这个idea，大家资此不资此啊

[2016-10-31 03:11] gaocegege commented on #2
@mrmiywj 我来写写看的意思是在写还是写了 readme

/w\

[2016-10-31 04:08] arrowrowe commented on #4
0.0 是要做什么呢? [jasonlong/isometric-contributions](https://github.com/jasonlong/isometric-contributions) 这样的 Chrome extension? 还是 [IonicaBizau/ghcal](https://github.com/IonicaBizau/ghcal) 这样活在命令行里的?

[2016-10-31 06:29] gaocegege commented on #4
前者，可以改变 contribution bar 的颜色

[2016-11-01 04:34] gaocegege commented on #1
可用的 library：

1. https://github.com/PyGithub/PyGithub

[2016-11-01 05:21] gaocegege commented on #1
这个 idea 可以分为两个部分

一部分是建立一个类似 hook 的机制，能够捕捉到 @ bot 的comment，然后拿到相应的 issue

另外一个部分是拿到 issue 所有的按照 https://github.com/dyweb/mos/issues/1#issue-186110914 的格式的 comment，把他们全部合并成一个 markdown，作为周报提交一个 PR

目标 repo 是 https://github.com/dyweb/weekly

[2016-11-01 05:29] arrowrowe commented on #1
需要定义好 comment 格式和合并方式什么的

[2016-11-01 05:31] gaocegege commented on #1
嗯不过我觉得比较麻烦是前面一个，没有一个针对 issue 中的 mention 的webhook

[2016-11-01 10:27] ComMouse commented on #1
给 repo 加个 issue create 的 webhook 就可以了吧

[2016-11-01 10:35] arrowrowe commented on #1
@ComMouse 诶? create 下一期周报 issue 时自动找上一期么?... 倒是也挺机智的 = =

[2016-11-01 11:09] gaocegege commented on #1
忽然想到，不需要，可以按照时间来判断

捂脸

[2016-11-01 11:22] arrowrowe commented on #1
......挺好... 每周三 23:59:59 启动, lock, push, close, open......

[2016-11-02 16:16] arrowrowe commented on #1
关于 comment 格式,

- YAML ([The Official YAML Web Site](http://yaml.org/), 库可以用 [ruamel.yaml](https://pypi.python.org/pypi/ruamel.yaml)).

[2016-11-02 17:04] arrowrowe commented on #1
关于 comment 具体规范,

属性: name, link, description, quote, comment, cc. 除 name 外都可选.
- 如果有 link, 为 name 加上
- 如果有 description, 在 name 后加 `, ` 接上
- 如果有 quote, 以引用格式附上
- 如果有 comment, 标上投稿者附上
- 如果有 cc (可以是单个用户, 直接逗号分开, 或者写成 list), 挨个 @

属性完整的例子: (写的时候... 不熟悉的话还是在 [Online YAML Parser](http://yaml-online-parser.appspot.com/) 里写的好......)
[code]

Format 为:
- [mhagger/git-when-merged](https://github.com/mhagger

[2016-11-03 14:14] gaocegege commented on #1
LGTM，实现的时候可以先实现第二种完整投稿，再支持简单投稿

[2016-11-03 21:00] at15 commented on #1
@arrowrowe for the yaml parser, we can have a ~~naive~~ web page like the weekly mail sender using gh-pages, so we can have more control and don't need to see all the ads

[2016-11-04 02:53] arrowrowe commented on #1
@at15 agree :smiley:

[2016-11-04 16:51] ComMouse commented on #1
A simpler but expressive version should also be taken into consideration, i.e.:

[code]

Which is displayed as:

DongyueWeb
http://dongyueweb.com

The homepage for Dongyue Studio.

Tags: Dongyue, Project

[2016-11-06 07:37] gaocegege opened #5 "append intro to members.md"
Append your intro to [members.md](https://github.com/dyweb/mos/blob/master/members.md), plz.

The job could be done in a variety of ways:

1. update the readme.md and push it to this remote.
2. fork a new repo and update it, then file a PR.

Whatever you want:)

Due: it doesn't have a due date.

[2016-11-06 09:19] brucechin commented on #5
我是秦连柯（brucechin）
我是一个：
       刚投入软工怀抱的大二狗
       缺少大一正规训练，目前正在恶补基础的学渣
       已戒游戏，仍喜欢看书打网球

[2016-11-06 09:44] JasonQSY commented on #5
@gaocegege I've appended.

[2016-11-06 09:49] gaocegege commented on #5
需要更新到 https://github.com/dyweb/mos/blob/master/README.md 里

另外 issue 一般是发起的人来 close，被 assign 的人做完后回复 PTAL(Plz take a look) 就可以了

[2016-11-06 11:31] ComMouse commented on #5
强势围观

[2016-11-06 13:24] arrowrowe commented on #5
@gaocegege 要不要把成员列表从 readme 里剥出来? 似乎越来越长了 = =

[2016-11-06 15:22] gaocegege commented on #5
@arrowrowe 是的。。

[2016-11-06 17:15] at15 commented on #5
@brucechin tennis!

[2016-11-09 11:48] codeworm96 commented on #1
#dibs

[2016-11-10 06:39] at15 opened #6 "[idea] Q&A website"
idea issuer: @at15

Since WeCenter sucks https://github.com/dyweb/wecenter/issues/15, it's time to create a new Q&A site

Required Features:

- Provide RESTful API
- Single page application preferred
- Have admin dashboard
- Login using email+pwd & OAuth, ie: GitLab, GitHub
- Full text search

Required skills

- PHP/Golang/Node.JS/Python as backend language
- JavaScript/TypeScript (no coffescript

[2016-11-10 08:17] arrowrowe commented on #6
Kind of too large......

[2016-11-10 08:18] arrowrowe commented on #6
@ComMouse any idea?

[2016-11-10 10:29] gaocegege commented on #6
我觉得这是一个很大而且很不紧急的任务。。。

[2016-11-10 11:17] ComMouse commented on #6
Until no new project is available...

[2016-11-11 00:50] arrowrowe commented on #6
[Algolia](https://www.algolia.com/) may be another choice? @at15 @ComMouse

[2016-11-11 03:21] at15 commented on #6
@arrowrowe I thought about algolia when I wrote the issue, however, using algolia will give you less controll.

[2016-11-25 02:42] gaocegege commented on #5
@JosephKim6 FYI

[2016-11-25 04:07] arrowrowe commented on #5
@JosephKim6 please accept the invitation to team Mos here: https://github.com/dyweb

[2016-11-25 10:16] gaocegege commented on #5
@bertlps @CR-Gjx
FYI

[2016-11-25 11:16] bertlps commented on #5
PTAL

[2016-11-25 13:22] gaocegege commented on #5
LGTM, Thks.

[2016-11-28 07:37] at15 opened #7 "[idea] Open source waka time server implementation"
https://wakatime.com can be used to track how you spend your time for coding, however it only have three week history for free user. The server API is quite simple https://wakatime.com/developers. The storage should be a RDBMS + Time series database. Like MySQL + InfluxDB.  If search is needed, things like Elasticsearch can be introduced. Front end is mainly focus on dashboard, echart is enough. A

[2016-11-28 08:25] ComMouse opened #8 "[idea] Dongyue HR system"
Since we're in lack of such a HR system and the recruitment will be finished soon.... A convenient HR info collecting system is necessary at the moment.

The technique stack MUST be suitable for long-term maintenence, so PHP is more preferred in this project. We suggest you get started with Laravel cause it does well in agile development.

The features of the system are listed below. Items marked

[2016-11-28 09:12] xplorld commented on #4
trump:???

[2016-11-28 09:13] xplorld commented on #4
以及这个并不难吧，换 css 就行。主要是怎么做策略：什么节日换什么颜色，这个是要用户定义的还是插件vendor（dyweb）定义的？

[2016-11-28 09:14] xplorld commented on #2
做一个 IFTTT support on services without an API?

[2016-11-28 09:40] gaocegege commented on #4
@xplorld 非常简单，策略我觉得可以支持自定义最好

[2016-11-28 14:39] gaocegege commented on #2
IFTTT 不太满足需求，因为要定时

[2016-12-01 01:20] arrowrowe commented on #4
@xplorld `exp/beginner` & `size/small` :smile:

[2016-12-02 01:10] GigaFlower commented on #8
我有兴趣

我来留言

[2016-12-02 06:13] ComMouse commented on #8
@GigaFlower See https://github.com/dyweb/mos/blob/master/idea-intro.md for idea assigning guides.

[2016-12-04 06:07] gaocegege commented on #1
Has there been any progress on that front? 😺

[2016-12-04 06:11] gaocegege opened #9 "[idea] 交大选课插件的 firefox 版本维护"
\cc @dyweb/mos

idea issuer: @hczhcz

ref https://github.com/laohyx/electsys/issues/20

[2016-12-04 06:18] gaocegege opened #10 "[idea] 交大选课插件的 safari 版本合并"
\cc @dyweb/mos

idea issuer: @gaocegege

目前选课插件的 safari 版本和 chrome 版本是分离的，经过前期与 @at15 的讨论，可以把两个 repo 合并，因为两者只有配置文件的不同。这样的好处显而易见，不需要保证多个 repo 之间代码版本的统一。

### Tips

合并需要比较了解 chrome 和 safari 中选课插件的运行方式，以及微量的 js 知识。

### reference

* https://github.com/dyweb/electsys-safari
* https://github.com/laohyx/electsys

[2016-12-04 06:46] codeworm96 commented on #1
@gaocegege All main functional requirements are completed. It can generate weekly for current issues. However `cc` MUST be a yaml list for current version, otherwise it will be skipped.

[2016-12-04 06:57] gaocegege commented on #1
OK, I would be the first user :+1:

[2016-12-04 11:26] JasonQSY commented on #10
@gaocegege 所以只有配置相关的，i.e. safari插件里的 `Info.plist` 和 chrome 插件的 `manifest.json` 是不一样的，具体的js脚本都全部直接用 chrome 下的版本么。。主要是不太了解插件的兼容问题额

[2016-12-04 14:02] xplorld commented on #2
while (wait(TIME_PEROID)) {
		resp = request(URL);
		if (resp.status != 200) {
			alert("dead!");
		}
		string data = resp.data;
		if (!re.matches(data)) {
			alert("tourist is no longer #1!");
		}
	}

[2016-12-05 02:29] gaocegege commented on #10
对的

[2016-12-05 06:15] arrowrowe commented on #2
re @xplorld 差不多就这样... 然后 `re.matches` 和 `alert` 可能需要复杂点......

[2016-12-05 06:56] LukeXuan commented on #10
user script能做到么

On Mon, Dec 5, 2016, 10:29 AM Ce Gao <notifications@github.com> wrote:

[2016-12-05 07:38] JasonQSY commented on #10
@gaocegege 嗯
@LukeXuan 意思是user script加载js来跨浏览器么

[2016-12-05 11:24] ComMouse opened #11 "[idea] GitHub OAuth login for Dongyue Q & A"
Since it is convenient to login via GitHub instead of remembering various accounts, we recommend to add this feature to the [Q & A Website](https://qa.tongqu.me).

The source code is [in this repository](https://github.com/dyweb/wecenter). The original project was written in Zend Framework. You may turn to the [official site](http://www.wecenter.com/) for more info.

### Features

* [ ] Login via

[2016-12-05 11:28] gaocegege commented on #10
@LukeXuan user script 门槛太高了，我觉得

[2016-12-05 14:59] JasonQSY commented on #10
#dibs
PS：我来吧，就是最近有点忙大概会比较磨叽

[2016-12-07 06:18] gaocegege commented on #8
Hi, has there been any progress on that front?
What can we do for you?
😸

[2016-12-07 06:24] gaocegege commented on #7
Good idea, but I'm afraid that there is no one interested in it now.
🤔  Because you know, this idea may be a little complicated, and I think there are little people to build a service like that. I would choose to pay for wakatime.

[2016-12-07 06:37] at15 commented on #7
@gaocegege I don't think you can afford a bunch of people using waka time, and you can do some hook and mining on data easily if you have full control of the statistics.

[2016-12-07 08:07] gaocegege commented on #5
@xplorld FYI

[2016-12-07 10:50] ComMouse commented on #8
Your hug~

[2016-12-07 18:46] JasonQSY commented on #10
做了一下移植，没有管自定义option的话work了。现在有个值得讨论的问题是在[load.js](https://github.com/laohyx/electsys/blob/master/content_script/core/load.js)
[code]
写支持但跨不了浏览器. 而`navigator.userAgent.indexOf("Safari") != -1`有判断错误。有必要专门引个库做判断么。
@gaocegege @ComMouse

[2016-12-07 18:51] at15 commented on #10
@JasonQSY http://stackoverflow.com/questions/5899783/detect-safari-using-jquery

Safari has only 'Safari'.

[2016-12-08 05:01] ComMouse commented on #10
@JasonQSY 原来做的判断是针对 Firefox 和 Edge 的，没有考虑 Safari 的情况，可以视情况调整一下

[2016-12-08 10:58] gaocegege commented on #11
@PengZhenghao FYI

If you have any problem in this issue, don't hesitate to ask.

[2016-12-08 17:10] at15 commented on #11
@PengZhenghao pls change your avatar

[2016-12-10 12:55] PengZhenghao commented on #11
Well... Sorry for absence due to the preparation of TOEFL, and now I am free! Thanks for acceptance! And what is going on?...

[2016-12-10 13:11] ComMouse commented on #11
@PengZhenghao First you need to set up WeCenter locally... You may refer to the instructions in the WeCenter website.

[2016-12-11 07:20] arrowrowe commented on #11
Roadmap for @PengZhenghao, cc @ComMouse:
- [ ] Follow [the official installation instruction of WeCenter](https://github.com/wecenter/wecenter#wecenter-问答系统的安装), ensure that everything works.
- [ ] Update to dyweb's fork: https://github.com/dyweb/wecenter.
- [ ] Read @ComMouse's example for GitLab integeration: https://github.com/dyweb/wecenter/compare/da2626eff8ea5de6896c0e88c26e42284cde15b1...ca

[2016-12-11 13:34] gaocegege commented on #11
Any questions remain? @PengZhenghao
Feel free to ask.

[2016-12-30 13:46] JasonQSY opened #12 "[idea] Dongyue Blog Github Integration"
Idea issuer: @JasonQSY

### Problem

The [blog](https://github.com/dyweb/blog) of Dongyue is a static blog supporting Markdown currently. However, we want that the user experience can be as good as Github. Since we want refer to some one like @arrowrowe, we want to make a simple tool to render `@arrowrowe` to @arrowrowe, i.e. add a hyperlink to the github user profile automatically. See also [dywe

[2016-12-30 14:26] gaocegege commented on #12
Should we ask ink for the feature?

[2016-12-30 14:42] JasonQSY commented on #12
re @gaocegege Agree.

[2016-12-30 21:13] at15 opened #13 "[idea] Common Git Hooks"
idea issuer: infamous @at15

Related issues: gitTq tongqu/tongqu-web/issues/19

## Description

Currently, a lot of projects need to enforce commit message and code style, so instead of writing shell scripts for each project, it would be a better idea to have a set of configurable Git Hooks. Though it could be part of Ayi, Ayi still got a bunch of crap to deal with now.

## Required skills

- shel

[2016-12-31 03:09] gaocegege opened #14 "[idea] 为交大毕业论文模板更换开源字体"
\cc @dyweb/mos

idea issuer: @gaocegege

Related issue: https://github.com/weijianwen/SJTUThesis/issues/80

## Description

目前，论文用的是 Adobe 的字体，没记错的话是付费的，社区有一个 issue 是关于它的，但是没有人认领。这个工作对简化毕业论文的 LaTeX 环境的搭建很有帮助。

## Related Skills

* LaTeX

[2016-12-31 03:17] at15 commented on #14
又到了写毕业论文的时候，好忧伤.../w\ 我去看会艾微缓解一下情绪

[2016-12-31 03:39] gaocegege commented on #14
对，但是其实是侵犯版权的

[2016-12-31 03:53] gaocegege opened #15 "[idea] [proposal] 为交大 LaTeX 毕业论文模板实现的 (Markdown to LaTeX) compiler"
# This is a proposal, not a formal idea.

idea issuer: @gaocegege

## Description

之前想过实现用 Markdown 来写毕业论文的愿望，在大四的时候考察过一些相关技术，比如 [Madoko](https://www.madoko.net/)、[pandoc](http://pandoc.org/) 等等。但是都不能满足需求。

之前都是想借助 general purpose 的工具，改 [SJTUThesis](https://github.com/weijianwen/SJTUThesis) 来适配。但是想到了一种更加简单但是不能复用的方式：为交大论文模板单独写一个 Markdown -> LaTeX 的转换器。因为目前论文模板结构很清晰，基本来说只需要生成 [thesis.tex](https://gi

[2016-12-31 03:56] gaocegege commented on #15
主要是在纠结可用性和用户群

[2016-12-31 04:02] at15 commented on #15
@gaocegege 目的是为了减少学习/使用 latex 的成本？但是不用 latex 的人多半直接去用 word 了，用markdown 的人(aka 不是很懒) 写 latex 应该写一会就熟了，用户群应该不是很大?

[2016-12-31 04:06] gaocegege commented on #15
😄  WDYT @weijianwen

[2016-12-31 08:21] arrowrowe commented on #15
一直拒绝 LaTeX 的我...... orz

[2016-12-31 08:23] arrowrowe commented on #13
感觉都是现成的, 组装一个套路写个一键安装脚本 (雾) 就可以了?

[2016-12-31 18:40] at15 commented on #15
@arrowrowe 快向 Lamport 低头

[2017-01-01 08:32] weijianwen commented on #15
@gaocegege "使用Markdown撰写LaTeX"的想法之前有过，技术路线和你想的类似，都是用pandoc作为翻译器，把md翻译成tex后再编译。但受限于Markdown本身的表达能力(浮动体、表格、公式)，md文件中免不了混入很多raw tex内容，看着很奇怪。我个人觉得这个方案反而增加了使用难度——使用者md和TeX两边都要学习——可行性不高。

[2017-01-01 14:50] gaocegege commented on #15
OK @at15 @weijianwen 谢谢，了解了。

[2017-01-02 15:31] ComMouse commented on #9
Close? @gaocegege

[2017-01-02 15:32] ComMouse commented on #1
Close? @gaocegege

[2017-01-02 15:41] arrowrowe commented on #9
Got volunteers?

[2017-01-02 15:43] ComMouse commented on #9
Seems got

[2017-01-02 15:48] arrowrowe commented on #9
Then update and close?

[2017-01-02 15:53] hczhcz commented on #9
Seems good to close.

BTW, feel free to let us know if you are interested in being a collaborator :-)

[2017-01-02 15:58] #9 closed

[2017-01-02 15:59] gaocegege commented on #14
#dibs

[2017-01-02 16:01] gaocegege commented on #1
We should have a list, to know how many ideas have been implemented.

[2017-01-02 16:57] JasonQSY commented on #1
Like PR and issue count which has been used in [dyweb/web-stuff](https://github.com/dyweb/web-stuff) or count the total number?

[2017-01-03 02:21] arrowrowe commented on #1
Hi @gaocegege, seems that @codeworm96 feel it still incomplete?

[2017-01-03 03:11] gaocegege commented on #1
Yeah, I would reopen it.

[2017-01-03 08:03] at15 opened #16 "[idea] Common Golang libraries"
idea issuer: infamous @at15

Related projects: [Ayi](https://github.com/dyweb/Ayi), [xephon-b](https://github.com/xephonhq/xephon-b)

## Description

Since Ayi have already come up with some common libraries, it would be better to make them a standalone project instead of a package instead Ayi, and make it easier to use semver since Ayi may never reach its 1.0 . More detail can be found in recent

[2017-01-03 08:04] at15 commented on #16
I think I will be working on this for now, but I hope I am not the only one, btw, need a name for the repo cc @gaocegege @arrowrowe @ComMouse (we need a team dyweb/naming)

[2017-01-03 11:25] ComMouse commented on #16
@at15 `gorun`? `goshen`? `goat15`?

[2017-01-03 13:16] arrowrowe commented on #16
@at15 `gommon`?

[2017-01-03 17:07] at15 commented on #16
Created the new repo as https://github.com/dyweb/gommon and create a new team @dyweb/gopher which only have me and cece for now.

[2017-01-04 08:25] gaocegege commented on #14
已经为 SJTUThesis 反馈了一个 PR

https://github.com/weijianwen/SJTUThesis/pull/177

[2017-01-05 03:46] gaocegege commented on #14
fixed

[2017-01-05 10:04] gaocegege commented on #14
https://github.com/weijianwen/SJTUThesis/wiki

更新了一下 wiki：

1. 创建了本地编译使用说明
2. 重命名 usage 为在线编译说明，只记录在线编译的相关文档
3. 修改 Home，加入本地编译说明和在线编译说明的链接

[2017-01-07 09:52] arrowrowe opened #17 "[idea] Servers Together"
\cc @dyweb/mos

idea issuer: @mrmiywj

Related: @mrmiywj @swaylq @tq5124 @arrowrowe @gaocegege @LukeXuan @at15

## Description

(暂时留空... 欢迎修改......)

## Related Skills

(暂时留空... 欢迎修改......)

[2017-01-07 11:05] swaylq commented on #17
- [ss-panel](https://github.com/orvice/ss-panel)

[2017-01-07 13:38] LukeXuan commented on #17
The shadowsocks exists several branches (I'm currently using `libev` ported version), and may be used with other techniques (like I've enabled `OTA`, `tcp-fastopen`, `BBR` and `KCPTUN`). It would be a problem to put servers together.

[2017-01-07 16:33] arrowrowe commented on #17
May close because of https://github.com/dyweb/mos/issues/17#issuecomment-271084346.
Keep open for a while in case something changes.

[2017-01-07 16:50] JasonQSY commented on #17
Maybe a idea to use an internal server for load balancing?

[2017-01-07 16:55] JasonQSY commented on #17
Maybe add some functions in `ss-panel`? `KCPTUN` influences the speed of video mostly. But a distributed server will be more stable, I think.

[2017-01-11 06:52] at15 opened #18 "[idea] Knowledge base for contributing to open source projects"
idea issuer: infamous @at15

## Description

For newbie, it's always pretty hard when they want to start contributing to other people/org's projects, the are always some implicit convention in the community, like I came across the golang import path problem today and @gaocegege took it for granted so he didn't know what I am talking about when I asked him. (maybe he is looking at some hot girls, w

[2017-01-11 07:30] gaocegege commented on #14
I Think I have done but the PR haven't been merged, so keep it open.

[2017-01-11 07:33] gaocegege commented on #18
Yeah, and I think there should be a section to list some friendly communities for newcomers. Because you know, some communities is critical.

[2017-01-11 07:35] gaocegege commented on #18
It's the work mos should do.
/cc @dyweb/mos

[2017-01-13 07:28] xplorld commented on #18
would it be some kind of wiki or collection-of-markdown's? It seems more to be a content work than a framework.

[2017-01-21 07:34] JasonQSY commented on #13
Temporarily, we maintain a [dyweb/php-git-hooks](https://github.com/dyweb/php-git-hooks) since original `php-git-hooks` does not support custom commit-msg error message. I only change the message directly now. Also, I think we can write a tool or implement the custom message and other features for `php-git-hooks`.

[2017-01-21 07:38] arrowrowe commented on #13
just for curiosity, why php?...

[2017-01-21 07:46] JasonQSY commented on #13
@arrowrowe Just because we need it on `tongqu-web` (5.0) .... For other projects, no idea.

[2017-01-25 14:57] ComMouse commented on #11
Any progess? @PengZhenghao

[2017-01-25 14:58] ComMouse commented on #8
=_=

[2017-01-26 13:38] GigaFlower commented on #8
Sorry for no progress and failed to response timely.
I'll begin my work in no time.

[2017-01-26 14:02] JasonQSY commented on #10
感觉我要鸽了。。最近并没有什么时间写这个。。之前考虑的流程大致可以参考一下

- 移植 `manifest.json` 到 `Info.plist`
- 写一个通用的浏览器判断，可以考虑支持 Firefox, Edge, Safari, Chrome
- 判断完之后，需要逐一确认一下 `browser` 的方法在 Safari 上是否可用， 似乎 Safari 并不是很一样。假如差异比较大，给浏览器单独封装
- (optional) 移植新版的设置页面

[2017-01-29 02:54] gaocegege commented on #14
https://github.com/weijianwen/SJTUThesis/commit/5f59859dfd1dd5b579bd813aba64d4a969b4140f

PR has been merged, close this issue.

[2017-01-29 02:55] gaocegege commented on #14
现在可以在交大论文模板中使用开源的 fandol 字体了，虽然不好看，但是没有版权纠纷。

[2017-01-29 02:55] #14 closed

[2017-01-29 03:05] gaocegege commented on #12
https://github.com/InkProject/ink/issues/66 is the feature request in ink.

[2017-03-28 03:13] at15 commented on #18
https://github.com/shazow/ssh-chat/wiki/FAQ provides a detail guide of how to contribute to a golang project.

[2017-05-08 05:19] ComMouse commented on #18
@gaocegege What about the progress till now?

[2017-05-08 05:20] ComMouse commented on #10
@JasonQSY 目前怎么样了额

[2017-05-08 05:21] ComMouse commented on #11
Any willing to work on this idea? @PengZhenghao

[2017-05-08 05:23] ComMouse commented on #6
A potential use to build bbs-like sites on campus focusing on areas like Recruiting, Course Election, Oversea Study, etc.

[2017-05-08 05:23] gaocegege commented on #18
Zero :thinking:

[2017-05-08 05:24] ComMouse commented on #8
It seems done a long time ago....... Close this issue? @gigaflw

[2017-05-08 05:25] ComMouse commented on #18
@gaocegege Any plan? 😅

[2017-05-08 05:41] gaocegege commented on #18
目前来说，没有 =。=

[2017-05-08 07:25] at15 commented on #6
yep, and lost and found, online dating ? .w.

[2017-05-08 07:25] at15 commented on #10
赌 5 毛鸽了

[2017-05-08 10:38] JasonQSY commented on #10
咕咕咕

[2017-05-16 00:07] gaocegege commented on #18
ref https://github.com/MunGell/awesome-for-beginners

[2017-07-09 00:24] at15 commented on #2
so? .w.

[2017-10-05 11:45] ComMouse commented on #1
Done? @gaocegege

[2017-10-05 11:46] #8 closed

[2017-10-05 11:47] ComMouse commented on #16
@at15 How about the progress? =w=

[2017-10-05 17:46] at15 commented on #16
@ComMouse working on the new version of logging library, but don't have much time to spare recently https://github.com/dyweb/gommon/pull/28 besides, need more people using it to file bugs and feature requests

[2017-10-05 17:48] at15 commented on #8
@ComMouse do we have it running?

[2017-10-08 06:17] ComMouse commented on #8
Never have it run, may try it later

[2017-10-23 08:13] gaocegege opened #19 "[idea] Terms of Service Watcher"
\cc @dyweb/mos

idea issuer: @gaocegege

## 需求

（1）定期爬取腾讯、网易、知乎、百度等网站的用户协议（http://www.qq.com/contract.shtml ）、隐私条款；
（2）如果较之先前的版本有变化，保存新版的协议内容，并对变化内容进行比较；
（3）可以添加需要跟踪的网站页面；
（4）可能会考虑链接可信时间戳的API。

需求来自交大法学院博士学长

## Related Projects

* https://tosdr.org/index.html https://github.com/tosdr/tosdr.org
* https://github.com/ecprice/newsdiffs

[2017-10-25 13:20] gaocegege commented on #19
https://github.com/siglt/tosknight

[2017-10-26 06:55] at15 opened #20 "[idea] Rust target for ANTLR"
\cc @dyweb/mos

idea issuer: @at15

## Requirement

ANTLR is a parser generator, it has runtime for language like Java, Python, JavaScript, Go. But none of them is that good for implementing a new language due to lack of feature like pattern matching. Rust is loved by many folks in @dyweb, notably @mrmiywj @codeworm96 .

There is no on going attempt in the community as far as I know

- https://git

[2017-10-26 06:57] at15 commented on #7
I chose to pay for wakatime .... until I finished building a workable TSDB

[2017-10-26 06:59] at15 commented on #19
这一口狗粮.... 我也有 bot @at15-bot

[2017-10-26 07:00] gaocegege commented on #19
@gaocegege-bot 我的有头像

[2017-10-26 07:02] at15 commented on #19
等我 remaster 我的头像, at15 avatar HD remaster, 1 billion P graph that modern human eyeball can't distinguish

[2017-11-07 02:30] gaocegege commented on #19
http://alpha.tosknight.org 阶段性完成

[2017-11-07 02:38] gaocegege opened #21 "[idea] Maintain a fork of SJTUThesis"
\cc @dyweb/mos \cc @at15

idea issuer: @gaocegege

SJTUThesis 是由个人维护的,动因是因为我个人觉得 issue 处理比较慢而且很长时间没有 merge 了,我觉得我们可以考虑长期维护一个版本.

[2017-11-07 05:43] gaocegege commented on #21
还是跟作者沟通申请成为 collaborator...

[2017-11-07 07:34] at15 commented on #21
我倾向于 fork，毕竟可能会有一些大的改动 ....

[2017-11-07 09:53] gaocegege commented on #21
https://github.com/dyweb/SJTUThesis

[2017-11-07 09:53] #21 closed

[2017-11-13 14:40] gigaflw commented on #4
Emm... It seems this project haven't started for a year.
I find this interesting though, can I offer to do it?

[2017-11-13 14:49] LukeXuan commented on #4
You're  welcome

[2017-11-13 14:49] gaocegege commented on #4
Of course

[2017-11-14 04:53] gaocegege commented on #5
@gigaflw FYI

[2017-11-14 06:34] gigaflw commented on #5
PTAL

[2017-11-14 06:39] gaocegege commented on #5
LGTM

[2017-11-14 06:39] #5 closed

[2017-11-20 02:39] gaocegege commented on #4
Feel free to let us know the progress and I'd glad to be the very early user :-)

[2017-11-23 04:34] ComMouse commented on #4
FYI https://github.com/dyweb/colorful-contribution

[2017-11-26 04:44] at15 commented on #1
@gaocegege @codeworm96 IMO this issue should be renamed to weekly generator? I was about to open a new issue for GitHub Bot but found this

[2017-11-26 04:48] at15 commented on #7
I think I can have try to do something similar when building reika https://github.com/at15/reika

[2017-11-26 05:08] at15 opened #23 "[idea] GitHub Bot"
\cc @dyweb/mos

idea issuer: @at15

## Requirement

Currently we don't have any big open source projects in dyweb, but in order to prepare for things that will never happen, we need a bot to help keep a project tidy

- interact with GitHub events, user comments
- integration with Slack, Telegram
- help setup project skeleton (use Ayi maybe ... long live Ayi)
- project management, generate report f

[2017-11-27 02:06] arrowrowe commented on #7
@at15 looking forward

[2017-11-27 02:26] gaocegege commented on #7
Hope you could implement it :)

[2017-11-27 02:56] at15 commented on #7
@gaocegege where there is hope, there is disappointment 😄

[2017-12-13 17:56] ComMouse commented on #4
@gigaflw What about the progress =w=

[2017-12-18 01:28] gigaflw commented on #4
Oh, I am having my final exams, so... 🤣
I believe it will be done soon

[2018-01-13 14:10] ComMouse opened #24 "[idea] Wechat Birthday Reminder Bot"
idea issuer: @ComMouse

## Description

It is important to key birthday of members in one wechat group, and we may use a reminder bot to keep and remind others anyone's birthday =w=

I'm not quite sure whether it violates Wechat's rule, but we may have the first try == Several wechat robot frameworks are available, and you may choose one to get started.

cc @gaocegege @at15

[2018-01-14 02:31] hebingchang commented on #24
I've wrote a bot before... and the bot account is banned now :)

[2018-01-14 02:32] at15 commented on #24
.... 2333

[2018-01-14 02:58] JasonQSY commented on #24
Telegram+1

[2018-01-14 03:26] clouduan commented on #24
建个TG群，再拉个bot ?

[2018-01-14 03:29] at15 commented on #24
@clouduan 一直有 tg 群的虽然只有 @arrowrowe 的 rss 每天在说话 ...

[2018-01-14 03:36] JasonQSY commented on #24
tg 毕竟国内不太方便。。

[2018-01-19 04:21] xplorld commented on #24
Birthday data is kept in bot server, not Tencent server. I don't see any security concerns here.

[2018-01-20 05:13] xplorld commented on #24
Finally had (unlimited) freedom to use Telegram.
Never opened Telegram since that though.
#Paradoxical

[2018-03-21 21:42] at15 opened #25 "[idea] A repo contains bibtex of papers we have read"
idea issuer: @at15

## Description

There are some paper got cited pretty often (in introduction), and it's good if we can keep track of them in git instead of in buggy software like Mendeley, Google scholar works, but can't use it offline.

We already have some repos for paper reading notes, they might be a good start point

- https://github.com/gaocegege/papers-notebook
- https://github.com/at15

[2018-03-21 22:34] sxjscience commented on #25
I have a single large .bib file.

[2018-03-22 01:59] gaocegege commented on #25
I don't manage it, I google it.

[2018-03-23 19:56] at15 commented on #1
@codeworm96 @gaocegege @ComMouse so, what about now?

[2018-03-24 14:16] codeworm96 commented on #1
Considering to refactor and transfer the repo to dyweb... It there anyone still writes weekly?

[2018-03-24 20:42] at15 commented on #1
well ... me?

[2018-03-24 21:07] xplorld commented on #1
so this is a issue->gh page converter?
maybe we do not need any hook or something, just a static github page reading from github API?

[2018-03-24 21:52] at15 commented on #1
@xplorld https://github.com/codeworm96/dy-weekly-generator/blob/master/src/main.rs#L50-L75

[2018-03-24 21:55] xplorld commented on #1
@at15 I mean, why do we even need a piece of server, instead of a **static** github page, using frontend js to fetch&parse&render?

[2018-03-24 21:58] at15 commented on #1
@xplorld github API limit and it would be relatively slow to work. The generator does not need a server, run locally or on a CI system like Travis also works, just publish to gh-pages branch or using https://www.netlify.com/

[2018-03-24 22:00] xplorld commented on #1
@at15 sounds promising. However I do not think that we would have enough pageviews to trigger github api limit (逃

[2018-03-24 22:02] xplorld commented on #1
is it online now?

[2018-03-24 22:03] at15 commented on #1
@xplorld if the user has github plugin that show detailed information when hover, he can trigger client API limit easily, it has nothing to do with us, github limits the API rate based on user's ip

[2018-03-24 22:03] xplorld commented on #1
cool, seen

[2018-03-29 13:42] gigaflw commented on #4
It finally gets into shape, takes much more time than I expected...
https://github.com/dyweb/colorful-contribution/releases
Would anyone like to try ? @gaocegege @ComMouse

BTW, since it takes lots of procedures to activate chrome develop account, I will probably leave that aside for now...

[2018-03-29 14:12] clouduan commented on #4
Awesome！

[2018-03-29 14:15] gaocegege commented on #4
I will have a try! Definitely cool!!!!!!!!!

[2018-03-29 14:20] clouduan commented on #4
在添加新的自定义主题时，点击 + 号无法实时生成，只有重新点击 popup 页面时才会显示 Newbie。

[2018-03-29 14:27] gigaflw commented on #4
whoops, fixed

[2018-03-31 06:54] xplorld opened #26 "[idea] av/ac/sm/pixiv/?? detector"
# motivation
当你看到一个 av 号，不能点开，还需要搜索，就很不爽

# spec

A chrome extension

in any HTML page: if exist `av\d+` in content, replace to `<a href="http://bilibili.com/video/av123...1"> av123...1</a>`, others similar

# features

- extensible: no hardcoded rules, all rules customizable
- performance: not too slow...

# design

set up several rules.

Rule = match(regex) + replace(HTML)

# alternative designs

[2018-03-31 06:58] xplorld commented on #2
there are [quite](https://downforeveryoneorjustme.com/) [a](http://www.isitdownrightnow.com/) [few](https://www.uptrends.com/tools/uptime) [similar](https://hosting.review/check-if-website-is-down/) websites exist in the jungle.

[2018-03-31 17:45] xplorld commented on #26
如果做成右键下拉菜单就不需要在打开网页时候扫描了， 0 overhead, 但是不知道体验如何，还得选中

[2018-04-01 11:40] voldikss commented on #26
#dibs  https://github.com/dyweb/acg-detector

[2018-04-02 04:47] xplorld commented on #26
我应该是全东岳最没有行动力的人了。。。

[2018-04-02 04:58] #26 closed

[2018-04-02 04:59] gaocegege commented on #26
Thank @clouduan for the implementation!

[2018-04-02 04:59] gaocegege commented on #26
@xplorld

ruiyang 这样的 CMU 大佬只需要发需求就好了，实现的工作交给我们这样的来做 :微笑:

[2018-04-02 05:00] xplorld commented on #26
sad_rabbit.jpg

[2018-04-02 05:02] gaocegege commented on #4
Thank @gigaflw for the implementation！

[2018-04-02 05:02] #4 closed

[2018-04-02 05:03] at15 commented on #4
@ComMouse 可以用老贺的帐号发布一下？ 或者东岳再搞一个? @gaocegege

[2018-04-02 05:03] #19 closed

[2018-04-02 05:04] gaocegege commented on #4
@at15 建立一个会更合适些，我们还有一个等着发布呢 /cc @clouduan

[2018-04-02 05:05] at15 commented on #4
那这个任务就交给身为组长的你? @gaocegege

[2018-04-02 05:07] voldikss commented on #4
@gaocegege 我那个可能还需要很多优化（毕竟赶制成的，太简陋

[2018-04-02 05:11] gaocegege commented on #4
@at15 我觉得还是交给东岳话事人 @at15 好

@clouduan 没关系，可以先发布，没必要完全做好了再发布，快速迭代嘛

[2018-04-02 05:14] gaocegege commented on #7
进度如何了，婶婶

[2018-04-02 05:17] gaocegege commented on #1
Thank @codeworm96 for the implementation, although we have no weekly now.

[2018-04-02 05:19] at15 commented on #7
@gaocegege 为了性能，我准备直接上 https://github.com/at15/gegecece 了，你怕不怕

[2018-04-02 05:20] at15 commented on #4
@gaocegege 开个 issue assign 给我好了 .... 我肯定会忘的

[2018-04-02 05:23] gaocegege commented on #4
要验证帐号和发布项目，您需要支付 US$5.00的一次性开发者注册费。

婶婶有钱么，要不还是用老贺的账号吧。。

[2018-04-02 05:24] at15 commented on #4
@gaocegege 有 .w. 一顿食堂的饭就够付 2 次注册费了 ...

[2018-04-02 05:26] gaocegege opened #27 "[maintainance] Register Google Web Store for Dongyue"
/assign @at15

[2018-04-02 20:36] xplorld commented on #19
Gaocegege The Go Preacher

[2018-04-02 20:37] xplorld commented on #19
假设我想监视大公司 github 项目的 term, 在我没有权限给他们的项目加 ci 的条件下可能实现 hook 吗？还是必须定期查询？

[2018-04-02 23:44] at15 commented on #19
应该只能轮询，其实效率不会差很多 ... 没人闲的没事整天变 license ref https://github.com/xephonhq/awesome-time-series-database/issues/34

[2018-04-02 23:46] xplorld commented on #19
以下几种服务其实是同一种服务：
- deadyet++
- ToS Watcher
- Is Website Down
- mail notifier

[2018-04-02 23:46] xplorld commented on #19
maybe an AWS Lambda with cron?

[2018-04-02 23:47] xplorld commented on #23
what is Ayi, by the way?

[2018-04-02 23:48] at15 commented on #23
https://github.com/dyweb/Ayi

[2018-04-03 00:55] gaocegege commented on #19
No money, no AWS.

[2018-04-03 02:23] xplorld commented on #19
Heroku with cron is free (if your job is stateless and is small)

[2018-04-04 19:41] at15 commented on #27
finished

[2018-04-04 19:41] #27 closed, assigned to at15

[2018-04-04 21:28] at15 commented on #16
close due to I am the only one using gommon ....

[2018-04-04 21:28] #16 closed

[2018-05-06 04:31] gaocegege opened #28 "[record] Projects that seeking for maintainers"
请各位把自己弃坑的项目添加到这里，可以让感兴趣的人看到。

- https://github.com/dyweb/scrala scala 爬虫框架
- https://github.com/processing-r/Processing.R Processing 的 R 语言支持
- https://github.com/gaocegege/maintainer CLI 工具，帮助维护者更好地维护项目
- https://github.com/gaocegege/scala-github-relationship GitHub 关注关系可视化
- https://github.com/gaocegege/scala-renren 人人好友可视化
- https://github.com/arrowrowe/github-relationship GitHub 关注关系可视化
- http

[2018-05-06 05:35] at15 commented on #28
maybe create another issue for active projects seeking for contributors? Or keep track of our projects and active contributors in central place .... gh-pages for the mos repo maybe? mos.dongyueweb.com or mos.dongyue.io

[2018-05-06 05:43] gaocegege commented on #28
Is it necessary? We only want to attract some people interested in these projects, IMO.

[2018-05-06 05:47] gaocegege commented on #28
And, we do not have the passion to setup a static website for mos...

[2018-05-09 04:58] arrowrowe commented on #28
* https://github.com/arrowrowe/github-relationship GitHub 关注关系可视化

[2018-05-09 04:59] gaocegege commented on #28
https://github.com/gaocegege/scala-github-relationship GitHub 关注关系可视化

[2018-05-09 05:01] gaocegege commented on #28
@arrowrowe Added into the header comment

[2018-05-10 06:23] gaocegege opened #29 "[idea] Custom Resource Definitation of distribured spider in Kubernetes"
利用 Kubernetes，应该可以很轻易地启动一个分布式爬虫任务。而如果将其实现成 crd 的方式，会变得非常 Kubernetes native，有更好的 scalability。可以基于 https://github.com/rmax/scrapy-redis 去尝试

skillset: 熟悉 Kubernetes，熟悉 scrapy，了解 redis

[2018-05-10 06:23] gaocegege commented on #29
Crawler as a service :thinking:

[2018-05-12 09:20] gaocegege commented on #23
We have a repo, https://github.com/dyweb/dy-bot for the idea.

[2018-05-15 10:26] gaocegege opened #30 "[idea] GitHub Bot framework"
https://github.com/icecrime/poule 很垃圾，甚至现在跑不起来了。我们很需要一个更好的 GitHub Bot framework 来简化工作。

需求：

- 支持配置文件的方式运行起一个 bot （参考 https://github.com/icecrime/poule ）
- 可扩展性，支持 hook 或者 callback 来扩展 bot 的能力

参考项目

- https://github.com/dyweb/dy-bot
- https://github.com/pouchcontainer/pouchrobot

[2018-05-16 00:54] at15 opened #31 "[donation] Transfer go.ice to dyweb from at15"
I am still maintaining go.ice. (没有弃坑, 骄傲

By transfering it to dyweb, I hope more folks can participate in it. (The true reason is I can @gaocegege easier ....)

TODO

- [x] transfer the repo https://github.com/dyweb/go.ice
- [x] fix the import path in repo https://github.com/dyweb/go.ice/commit/9f22a102ab976bb59e5ec872fcdbd50a9cbcbacd
- [x] make sure CI is working
- [ ] fix import in projects dep

[2018-05-16 02:16] gaocegege commented on #31
SGTM

[2018-05-17 05:32] at15 commented on #31
there aren't many projects relies on go.ice, dy-bot uses go.ice, but thanks to package management it still works until someone run `dep ensure -update`, I will make a PR to dy-bot later

[2018-05-17 05:32] #31 closed, assigned to at15

[2018-05-17 05:35] gaocegege commented on #31
Yeah, thanks for your contribution

[2018-05-18 05:07] gaocegege commented on #30
https://github.com/probot/probot 已经做了。。

[2018-05-18 05:07] #30 closed, assigned to nobody

[2018-07-30 06:17] xplorld commented on #29
这样的 craweler service 允许用户不写代码仅仅写yaml就能开启分布式爬虫任务了？比如在yaml中可以指定transformation规则？

[2018-07-30 07:01] xplorld commented on #29
:thinking:

[2018-07-30 08:45] gaocegege commented on #29
yaml 里制定规则我觉得不太可行，毕竟不是图灵完备

[2018-08-03 21:00] at15 opened #32 "[idea] Create our own awesome list based on weekly and question/experience from members"
Four motivations

- make searching easier
- have higher quality and relevance
- a place to ask about best library/practice about a unfamiliar field
- a source for blogs

Detailed motivations

- We are not indexing weekly and relies on GithHub's built in search. Manually sample good library/course out in an awesome list makes searching easier. Sometimes I don't even remember the keyword, only a rou

[2018-09-09 06:54] YairHalberstadt commented on #20
@at15
What is the status of this project?
Have you done any work on it?
Could others contribute?

[2018-09-09 13:47] gaocegege commented on #20
@YairHalberstadt

Hi, I think it is just an idea and no one is working on it.

[2018-12-02 19:19] xplorld opened #33 "[idea] Make a permanent URL to the latest weekly issue page"
a bot.

cron'd weekly. (pun intended)

actions:

1. close old issue
2. call the rust code to generate weekly
3. open a new issue
4. redirect a permanent URL to the latest weekly issue page to ease submission. e.g.
`https://dongyueweb.com/weekly/latest` or `https://wangruiyang.com/weekly/latest`

[2018-12-02 19:25] at15 commented on #33
I think @gaocegege already have one and see https://github.com/dyweb/dy-bot , though I think latter is no longer (if ever) under active development

[2018-12-02 19:29] xplorld commented on #33
thought for a while and realized my actual need is the bookmarklet. However, it is not perfect because I also post new things in mobile where I did not set up proper bookmark sync mechanism. Considering host the bookmarklet to my site or to `dongyueweb.com`...

[2018-12-02 19:32] xplorld commented on #33
No, if I use that script to host a latest entry, my github token would be exposed...

[2018-12-11 13:21] gaocegege opened #34 "[idea] Unikernel Runtime for Kubernetes"
It will be interesting to implement a CRI-O-compatible runtime for [unik](https://github.com/solo-io/unik) or other unikernel solutions. Then we could investigate if we could use unikernel to serve serverless workload in Kubernetes.

# Related Projects and Issues

- https://github.com/solo-io/unik
  - https://github.com/solo-io/unik/wiki/UniK:-Build-and-Run-Unikernels-with-Ease
- https://github.co

[2018-12-11 21:38] xplorld commented on #34
interested

[2018-12-11 23:06] xplorld commented on #34
如果用这个系统（或者任何系统）让 k8s 支持 Unikernel 应该也不能直接搞个 Pod, 因为你不能把 docker image 像是 pod 一样 run, 所以会有独特的 crd. 所以……这个 idea 我可以理解为写个 Unik crd 吗？

[2018-12-11 23:09] xplorld commented on #34
以及 k8s 的 cri 现在不支持自定义，整个 kubelet (还是整个集群？）只能用一种 cri, 所以如果用 cri 来搞意味着不兼容 docker (?) 所以也说明了需要 crd 而不能用 pod

[2018-12-12 01:30] gaocegege commented on #34
可以啊，CRI 就是为了支持 pod 才写的

[2018-12-12 01:30] gaocegege commented on #34
支持自定义，通过 annotation，可以一个节点多个 cri

[2018-12-12 02:41] xplorld commented on #34
vm 怎么跑 docker image

[2018-12-12 03:25] gaocegege commented on #34
kata, runv 是如何资词的，就可以继续如何资词

[2018-12-12 03:25] gaocegege commented on #34
现在已经有 vm 的 cri 了，https://github.com/kata-containers/runtime

[2018-12-12 07:36] gaocegege opened #35 "[idea] Processing/OpenFramework Ported on Webassembly"
Processing and OpenFramework are the most popular languages/frameworks for creative coding, I am interested in placing them in the browser via webassembly, while I am not sure if it works.

[2018-12-12 07:38] xplorld commented on #35
/sig size -> XL

[2018-12-12 07:44] gaocegege commented on #35
I am not sure. If we could use existed tool like webassembly compatible compiler for C++ or Java, then it will be easier to implement it.

[2018-12-17 05:27] xplorld commented on #7
gaoce鸽鸽进度如何了鸭

[2018-12-17 05:32] gaocegege commented on #7
It seems that @at15 is busy with his another wheel, this idea can be assigned to others.

[2018-12-22 01:07] xplorld opened #36 "[idea] Kharosthi numbers to/from int converter"
# Background

[Kharosthi 犍陀羅文](https://www.wikiwand.com/en/Kharosthi) is a kind of writing system derived from egypt, used in ancient Gandhara (now Pakistan and eastern Afghanistan.

They have a special kind of number system: right-to-left, special characters, and special number composition rules.

 For example, the number 1996 would be written as 1000 4 4 1 100 20 20 20 20 10 4 2 (
![image](https

[2018-12-22 06:32] xplorld commented on #36
# Design

Frontend only. A simple static web page including:

- WebFont of Kharosthi numerals
- JS script to do transformation
- Well designed UI

[2018-12-28 04:38] xplorld commented on #36
https://wangruiyang.com/KharosthiNumerals/

[2018-12-28 04:38] #36 closed, assigned to xplorld

[2018-12-28 05:40] gaocegege commented on #36
就很强

[2019-02-01 08:43] xplorld opened #37 "[idea] online tool - EXIF remover"
pure front end,,,

[2019-02-01 08:47] xplorld commented on #37
motivation: https://github.com/komeiji-satori/Dress/issues/190

[2019-05-23 03:33] gaocegege commented on #35
New option: https://github.com/nannou-org/nannou nannou is based on OpenGL and written in Rust, maybe easier to port.

[2019-05-23 03:34] gaocegege commented on #33
We already have it now https://github.com/dyweb/weekly/#source-code

[2019-05-23 03:34] #33 closed, assigned to nobody

[2019-05-23 03:40] gaocegege opened #38 "[idea] GitHub toolkit"
Now we have dy-weekly-generator to generate the weekly report for dy. There are other demands about GitHub but similar to this one. For example, I need to write daily report in Caicloud. Now I have to aggregate things I do (issues, PRs other things) in GitHub and write a markdown. I think it will be better to have a CLI:

[code]

[code]

[2019-05-23 03:43] gaocegege commented on #38
This toolkit can be the backend of the bot. For example, our bot can use the binary to generate daily reports for everyone and compose it as a daily report of the group to an issue. It will be awesome.

[2019-05-23 04:00] xplorld commented on #38
https://github.com/github-rs/github-rs

[2019-05-23 04:03] gaocegege commented on #38
Several options.

- Implement a monolithic binary and merge the weekly generator to the binary.
- Or we could start a new project.
- Or implement it in https://github.com/gaocegege/maintainer

Prefer the first one.

[2019-05-23 07:14] gaocegege commented on #38
[code]

Finished in https://github.com/gaocegege/maintainer

[code]

[2019-05-23 07:15] #38 closed, assigned to gaocegege

[2019-05-29 17:27] xplorld commented on #35
Some related work

https://github.com/alanmacleod/wasm-render
https://github.com/timhutton/opengl-canvas-wasm

[2019-06-21 04:40] xplorld opened #39 "[idea] paper-to-medium formatter"
a formatter that:
inputs a paper (pdf?)
outputs a well-formatted HTML page whose style is configurable (e.g. Medium style/github markdown style)

[2019-07-12 19:04] xplorld opened #40 "[pseudo-idea] sjtumelon"
SJTU port of
https://github.com/zjumelon/zjumelon

[2019-12-27 19:21] at15 commented on #20
Found one by other ppl https://github.com/rrevenantt/antlr4rust

[2020-07-16 09:13] at15 commented on #34
话说策策是不是该更新下这个 issue 了

[2020-07-16 09:14] gaocegege commented on #34
done

[2020-07-16 11:10] at15 commented on #34
I think we can keep it a open, I have two WIP projects k1s (a rust implementation compatible w/ k8s) and guguos (a library os for running relational database) that are related to this idea.

(Then the next comment shows up 2 years later w/ someone else implemented it ...

[2020-07-16 11:11] at15 commented on #40
IMO this is not related to mos ... cc @gaocegege shall we close it as won't fix?

[2020-07-16 11:14] at15 commented on #20
Assigning to myself because I need to use it in [gce4-rs](https://github.com/at15/gegecece/tree/master/impl/gce4-rs) and https://github.com/rrevenantt/antlr4rust seems to be inactive for a while and have some pending issues.

[2020-07-16 11:18] at15 commented on #11
Since qa.dongyue.io is gone, I guess we can close it @ComMouse @hebingchang (暴打 boar, 论到你就什么都木了 ... boar: 轮到我之前也基本什么都没了 ....

[2020-07-16 14:37] ComMouse commented on #11
I have no objection.

Just close it.

[2020-07-16 23:45] #11 closed

[2020-07-17 13:54] #40 closed, assigned to nobody

[2020-09-27 06:59] gaocegege opened #41 "[idea] A/B Testing Platform"

[2020-09-27 07:00] gaocegege opened #42 "[idea] BBS based on Blockchain"

[2020-09-27 07:36] hebingchang commented on #42
简单考虑了下，在区块链上建立论坛有个问题：
(如果论坛是完全分布式的话)

对于论坛而言，需要根据主题帖查找所有回帖，而回帖一定在主题帖所在块或之后。因此主题帖所在块其实不包含回帖索引，也就无法获得所有回帖，除非终端将链全量同步。

[2020-09-27 15:59] at15 commented on #41
More detail?

[2020-09-27 16:02] at15 commented on #42
可以额外(中心化的)建索引吧 ... 然后顺带可以实现一些管理的功能 ...

[2020-09-27 16:19] hebingchang commented on #42
这有违去中心化思想吧（

在 2020年9月28日，上午12:02，Pinglei Guo <notifications@github.com> 写道：

可以额外(中心化的)建索引吧 ... 然后顺带可以实现一些管理的功能 ...

—

[2021-03-31 06:26] gaocegege opened #43 "[idea] Autopilot for Kubernetes"
https://dl.acm.org/doi/pdf/10.1145/3342195.3387524

Open-source version of autopilot on Kubernetes.

[2021-03-31 06:27] gaocegege commented on #41
https://github.com/dyweb/cloudab

[2021-03-31 06:27] #41 closed, assigned to nobody

[2021-03-31 06:32] at15 commented on #41
tql

[2021-04-02 03:39] gaocegege opened #44 "[idea] SQLite for Mongo"
https://stackoverflow.com/questions/2307093/sqlite-like-alternative-for-mongodb

[2021-08-24 16:07] #10 closed

[2021-09-26 10:37] gaocegege opened #45 "[idea] Job scheduling system based on Ray"
Ref https://github.com/dbader/schedule